{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as langs %}
<!doctype html>
<html class="no-js" lang="{{LANGUAGE_CODE}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static "events/bulma.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "events/main.css" %}">
    </head>
    <body>
        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        {% include 'events/nav.html' %}
        <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <article class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                            <div class="message-body">{{ message }}</div>
                        </article>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block "container" %}
            {% endblock "container" %}
        </div>
        <footer class="footer">
            <p class="text-center">© 2018-2019 Opportunity Network</p>
            <p class="text-center">
                {% for lang in langs %}
                    <a {% if lang.0 == LANGUAGE_CODE %}class="active"{% endif%} href="/{{lang.0}}">{{lang.0}} - {{lang.1}}</a> &nbsp;|&nbsp;
                {% endfor %}<a href="#product-brand">{% trans "Back to top" %}</a>
            </p>
        </footer>

    <!-- JS SCRIPTS SHOULD GO HERE -->
    <script type="text/javascript">
    // Code extracted from BULMA CSS website, for handling the hamburguer menu.
    document.addEventListener('DOMContentLoaded', () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {
    // Get the target from the "data-target" attribute
    const target = el.dataset.target;
    const $target = document.getElementById(target);
    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
    el.classList.toggle('is-active');
    $target.classList.toggle('is-active');
    });
    });
    }
    });
    </script>
</body>
</html>