{% load i18n %}

<div class="card">
    <div class="card-content">
        <div class="content columns">
            <div class="column">
                <a href="{% url 'event' slug=ev.slug %}" title="{% trans "See the event details" %}">{{ ev.title }}</a>
            </div>
            <div class="column">
                <span><strong>@</strong> {{ ev.location }}</span>
            </div>
            <div class="column">
                <time datetime="{{ ev.schedule_date|date:"Y-m-d" }}">{{ ev.schedule_date|date:"d/m/Y" }} ({{ev.prop__time_until_display}} {% trans "from now" %})</time>
            </div>
        </div>
    </div>
</div>