{% extends 'events/base.html' %}
{% load i18n %}

{% block "container" %}
    <h1 class="title">{% trans "Upcoming events" %}</h1>
    <ul>
        {% for ev in events %}
            {% include "events/event_listing.html" %}
        {% endfor %}
    </ul>
    <p style="margin-top: 20px;"><a href="{% url 'previously' %}">{% trans "Past events" %}</a></p>
{% endblock "container" %}
