{% load i18n %}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="product-brand" class="navbar-brand">
    <a class="navbar-item" href="/">
        <span class="title">ON-events</span>
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item {% if nav == "index" %} active {% endif %}" href="{% url "index" %}">
        {% trans "Upcoming Events" %}
      </a>
      <a class="navbar-item {% if nav == "previously" %} active {% endif %}" href="{% url "previously" %}">
        {% trans "Previous Events" %}
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href="/admin">
            Admin
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
