{% extends 'events/base.html' %}
{% load i18n %}

{% block "container" %}
    <h1 class="title">{% trans "Previous events" %}</h1>
    <div class="container">
        {% for ev in events %}
            {% include "events/event_listing.html" %}
        {% endfor %}
    </div>
    <p style="margin-top: 20px;"><a href="{% url 'index' %}">{% trans "Upcoming events" %}</a></p>
{% endblock "container" %}



