{% extends 'events/base.html' %}
{% load i18n %}
{% block "container" %}
    <div class="card">
        <header class="card-header">
            <p class="card-header-title title">
                {{event.title}}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <article class="message"><div class="message-body">{{ event.description }}</div></article>
                <div class="columns">
                    <div class="column">
                        <strong>{% trans "When" %}?</strong> <time datetime="{{ event.schedule_date|date:"Y-m-d" }}">{{ event.schedule_date|date:"d/m/Y" }} ({{event.prop__time_until_display}} {% trans "from now" %})</time>
                    </div>
                    <div class="column">
                        <strong>{% trans "Where" %}?</strong> {{event.location}}
                    </div>
                </div>
                <p><strong>{% trans "Published by" %}</strong>: {{event.author}} {{event.created_at|date:"d/m H:i"}}</p>
            </div>
        </div>
        <footer class="card-footer">
            <a class="card-footer-item" href="{% url "event_ics" slug=event.slug %}">Download Ics</a>
            <a href="#subscription-form" class="card-footer-item">Subscribe</a>
        </footer>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title is-size-3">
                {% if event.prop__is_past %}
                    {% trans "Went" %}
                {% else %}
                    {% trans "Going" %}
                {% endif %} ({{subscriptions_count}})
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <ul>
                    {% for x in subscriptions %}
                        <li><strong>{{x.name}}</strong> {{x.comment}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% if event.prop__is_past %}
    {% else %}
        <div id="subscription-form" class="card">
            <header class="card-header">
                <p class="card-header-title is-size-3">{% trans "Subscribe" %}</p>
            </header>
            <div class="card-content">
                <div class="content">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">{% trans "Name" %}</label>
                            <div class="control">
                                <input class="input" type="text" name="s_name">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{% trans "E-mail" %}</label>
                            <div class="control">
                                <input class="input" type="email" name="s_email">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{% trans "Leave a comment" %}</label>
                            <div class="control">
                                <textarea class="textarea" name="comment" maxlength="256"></textarea>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <input class="button is-success" type="submit" name="submit_subscription" value='{% trans "Subscribe" %}'>
                            </div>
                            <div class="control">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <p style="margin-top: 20px"><a href="{% url "index" %}">{% trans "Back to index" %}</a></p>
{% endblock "container" %}