body{background-color: #EDEDED;}
nav.navbar, .navbar-menu{background-color: #000F17;}
nav.navbar a, nav.navbar .title  {color: white;}
.message.error {background-color: #fff5f7;}
.message.error .message-body {border-color: #ff3860;color: #cd0930;}
.message.success {background-color: #f6fef9;}
.message.success .message-body {border-color: #23d160;color: #0e301a;}
h1>a{font-size: 14px;}
.text-center{text-align: center;}
ul.lang-jumper {margin: 0 auto; text-align: center;}
ul.lang-jumper li{float: left; margin: 0 12px;}
ul.lang-jumper li.active{font-weight: bold;}
.card{margin-bottom: 16px;}
.navbar-item.active{
    border-bottom: 2px solid red;
}